body {
	background-color: #293542;
	color: white;
	font-size: 16px;
	text-align: center;
}


a:hover {
	color: #AA3A3A;
}

hr {
	margin: 10px;
}

.name {
	font-family: 'Amatic SC';
	font-size: 5em;
	text-align: center;
}

.stuff {
	font-size: 1.875em;
	font-family: 'Amatic SC';
}

.copy {
	font-family: 'Raleway';
	font-size: 1.125em;
	margin: 1.5em;
}